@import "tailwindcss";

@theme {
    --color-light-text: #0b0704;
    --color-light-background: #f1eae4;
    --color-light-primary: #c47f43;
    --color-light-secondary: #e0b691;
    --color-light-accent: #da9e6a;

    --color-dark-text: #fbf7f4;
    --color-dark-background: #1b140e;
    --color-dark-primary: #ba763b;
    --color-dark-secondary: #6f451f;
    --color-dark-accent: #935825;

    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-error: #ef4444;

    --color-ongoing: #23c64c;
    --color-completed: #c63e23;
    --color-upcoming: #ddb333;
}

/*
:root[data-theme="light"] {
    --text: #110c09;
    --background: #f1eae4;
    --primary: #624732;
    --secondary: #98c48d;
    --accent: #4b915d;
}
:root[data-theme="dark"] {
    --text: #f6f1ed;
    --background: #1b140e;
    --primary: #cdb29d;
    --secondary: #46733b;
    --accent: #6eb581;
}
*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}

h2 {
    font-size: x-large;
}